
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: gainsboro;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 240px;
     height: 240px;
     font-size: 24px;
     color: rgb(53, 55, 54);
     overflow: hidden;
     position: relative;
}

.part {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border: 15px solid transparent;

     animation: rotate var(--speed) var(--timing) infinite;
}

.part:first-child {
     border-left-color: #E8A0BF;
     border-top: #E8A0BF;
     --speed:2.2s;
     --timing:linear;
}

.part:nth-child(2) {
     border-top-color: blueviolet;
     border-right: 1px solid red;

     --speed:2.4s;
     --timing:ease-in-out;
}

.part:last-child {
     border-right-color: aqua;
     border-bottom: 1px solid aqua;

     --speed:2.6s;
     --timing:ease-out;
}

@keyframes rotate {
     0% {
          transform: rotate(0);
     }

     100% {
          transform: rotate(360deg);
     }
}